<div class="fixed backdrop-blur-md w-screen h-screen -z-10 top-0 left-0">

</div>
<div class="flex flex-row justify-between mt-24 w-screen">
    <div class="flex justify-center items-center lg:relative absolute lg:scale-100 scale-0">
        <div class="absolute aspect-square -translate-x-80 w-[48vw] rounded-full opacity-50 border-[8px] border-slate-400">
        </div>
        <div class="absolute aspect-square -translate-x-80 w-[52vw] rounded-full opacity-50 border-[6px] border-slate-500 border-dashed">
        </div>
        <div class="absolute aspect-square -translate-x-80 w-[56vw] rounded-full opacity-50 border-[8px] border-slate-600">
        </div>
        <div class="absolute aspect-square -translate-x-80 w-[58vw] rounded-full opacity-50 border-[3px] border-slate-500 border-dotted">
        </div>
        <div class="flex flex-col w-[75%] mt-32 flex-wrap max-h-screen items-center justify-center">
            <img class="aspect-auto w-96 ILL_Spin_1 mr-72" src="../../../assets/mascotts/mascott_sloom.png" />
            <img class="aspect-auto w-32 ILL_Spin_2 mt-32 ml-32" src="../../../assets/mascotts/mascott_relife.png" />
            <img class="aspect-auto w-28 ILL_Spin_1 mr-32" src="../../../assets/mascotts/mascott_hank.png" />
        </div>
    </div>
    <div class="flex flex-col items-center justify-center
    dark:text-white lg:rounded-l-3xl rounded-3xl shadow-lg lg:w-[50vw] w-[90vw] lg:p-24 p-12
    from-slate-200 to-slate-400 bg-gradient-to-br
    dark:from-slate-500 dark:to-slate-700 lg:mx-0 mx-auto">
    <b class="text-xl">Create account</b>
    <p>Username (Do not use spaces):</p>
    <input type="email" [placeholder]="randomExampleUsername" (input)="checkUsername()" class="text-black p-2 m-2 w-full rounded-lg border-l-2 border-blue-600" [(ngModel)]="userName"/>
    <p class="text-sm text-center text-red-500" *ngIf="!_username_correct">Username has a space!</p>
    <p class="text-sm text-center text-red-500 opacity-0 select-none" *ngIf="_username_correct">Username has a space!</p>
    <p>Email:</p>
    <input type="email" placeholder="your-email@example.com" class="text-black p-2 m-2 w-full rounded-lg border-l-2 border-blue-600" [(ngModel)]="userEmail"/>
    <p>Password:</p>
    <input type="password" placeholder="Password" class="text-black p-2 m-2 w-full rounded-lg border-l-2 border-blue-600" [(ngModel)]="userPassword"/>
    <div class="flex flex-row">
        <button class="bg-neutral-700 text-white shadow-lg rounded-lg p-2 m-1
        hover:scale-105 hover:shadow-xl transition-all duration-300">Cancel</button>
        <button class="bg-blue-700 text-white shadow-lg rounded-lg p-2 m-1
        hover:scale-105 hover:shadow-xl transition-all duration-300 disabled:bg-slate-500 disabled:text-slate-700"
        (click)="createNewAccount()">Create New Account</button>
        
    </div>
    <p class="text-red-600">{{lb_err}}</p>
    <p>Already have an account?</p>
    <button class="bg-blue-700 text-white shadow-lg rounded-lg p-2 m-1
    hover:scale-105 hover:shadow-xl transition-all duration-300 disabled:bg-slate-500 disabled:text-slate-700"
    routerLink="/login">Sign in</button>
    </div>

</div>