<div class="w-full h-full flex flex-col items-stretch justify-center">
    <div class="bg-slate-300 dark:bg-slate-700 flex flex-col items-stretch justify-center m-5 p-5 rounded-2xl">
        <b class="dark:text-white text-lg font-normal">Profiles:</b>
        
        <!-- Search bar -->
        <div class="flex lg:flex-row items-center justify-between bg-white p-2 rounded-full h-fit shadow-lg m-4">
            <div class="flex flex-col w-full text-black">
                <div class="flex flex-row items-center justify-between w-full">
                    <form class="w-full">
                        <div class="flex flex-row items-center w-full">
                            <fa-icon [icon]="i_search" class="mx-1 text-lg text-gray-400"></fa-icon>
                            <input type="text" [placeholder]="'Type in anything to search'" class="p-2 
                            h-fit align-middle w-full text-black" (input)="searchUsers()"
                            [(ngModel)]="srch_input"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="flex flex-row flex-wrap justify-between">
            <!-- Profiles -->
            <div class="flex flex-row items-center justify-start bg-slate-600 p-3 m-2 rounded-2xl w-[400px]" *ngFor="let profile of displayProfiles; index as i">
                <img [src]="profile.avatar_url" class="w-20 h-20 rounded-full"/>
                <div class="flex flex-col items-start justify-center mx-3 text-white">
                    <b class="text-xl">{{profile.username}}</b>
                    <b class="text-slate-300 font-normal">{{profile.gd_username}}</b>
                </div>
                <a routerLink="/profile/{{profile.id}}" class="m-1 p-2 rounded-full bg-blue-500 text-white shadow-lg hover:scale-105 transition-all duration-300 font-bold">Link</a>
            </div>

        </div>
    </div>
</div>
