<div class="flex lg:flex-row flex-col lg:w-full w-screen items-start justify-start">
    <app-admin-data-list (selectLevelEvent)="loadDataFromLevel($event)"></app-admin-data-list>
    <div class="flex flex-col lg:w-fit w-screen h-full">
        <!-- Level form -->
        <div class="bg-slate-300 dark:bg-slate-700 m-2 p-3 rounded-2xl dark:text-white flex flex-col w-[100%]">
            <b class="text-lg font-normal">Level submission form</b>
            <div class="mx-auto my-3">
                <button class="flex flex-row w-96 items-center justify-between rounded-full overflow-hidden text-xl 
                font-semibold hover:scale-105 transition-all duration-200" (click)="toggleMode()">
                    <div class="p-4 bg-blue-500 w-[50%]" *ngIf="bil_mode == 0">Create</div>
                    <div class="p-4 bg-neutral-500 w-[50%]" *ngIf="bil_mode == 1">Create</div>
                    <div class="p-4 bg-neutral-500 w-[50%]" *ngIf="bil_mode == 0">Edit</div>
                    <div class="p-4 bg-orange-500 w-[50%]" *ngIf="bil_mode == 1">Edit</div>
                </button>
            </div>
            <div class="bg-slate-200 dark:bg-slate-600 rounded-xl p-2">
    
    
                <b>Level information:</b>
                <div class="flex flex-row items-start my-1 justify-between">
                    <div class="flex flex-col w-[50%]">
                        <b class="mx-1 font-normal">Position:</b>
                        <input [(ngModel)]="bil_index" class="ILL_TextField" type="number" placeholder="Level position"/>
                        <b class="mx-1 font-normal">Name:</b>
                        <input [(ngModel)]="bil_name" class="ILL_TextField" type="text" placeholder="Level name"/>
                        <b class="mx-1 font-normal">Creators (short):</b>
                        <input [(ngModel)]="bil_c_s" class="ILL_TextField" type="text" placeholder="Level creators"/>
                        <b class="mx-1 font-normal">GD version:</b>
                        <input [(ngModel)]="bil_gdv" class="ILL_TextField" type="text" placeholder="GD version"/>
                    </div>
                    <div class="flex flex-col w-[50%]">
                        <b class="mx-1 font-normal">FPS:</b>
                        <input [(ngModel)]="bil_fps" class="ILL_TextField" type="number" placeholder="Level FPS"/>
                        <b class="mx-1 font-normal">Level ID:</b>
                        <input [(ngModel)]="bil_id" class="ILL_TextField" type="text" placeholder="Level ID (N/A for none)"/>
                        <b class="mx-1 font-normal">Uploader:</b>
                        <input [(ngModel)]="bil_upld" class="ILL_TextField" type="text" placeholder="Uploader (GD username)"/>
                    </div>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">Creators:</b>
                    <input [(ngModel)]="bil_c_f" class="ILL_TextField w-full" type="text" placeholder="All creators separated by a comma (,)"/>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">Tags:</b>
                    <input [(ngModel)]="bil_tags" class="ILL_TextField w-full" type="text" placeholder="Level tags separated by a comma (,)"/>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">Showcase video link:</b>
                    <input [(ngModel)]="bil_ytid" class="ILL_TextField w-full" type="text" placeholder="Youtube URL/Video id of the level showcase"/>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">Wideshot image link:</b>
                    <input [(ngModel)]="bil_wideshotURL" class="ILL_TextField w-[60%]" type="text" placeholder="Link to the level wideshot"/>
                    <div class="flex flex-row w-[40%] items-center">
                        <b class="mx-1 text-xs font-normal">Use dark text:</b>
                        <input [(ngModel)]="bil_darktext" class="rounded-full w-8 h-8" type="checkbox"/>
                    </div>
                </div>
    
    
                <b>World records:</b>
                <div class="flex flex-row items-center">
                    <input [(ngModel)]="bil_manualWR" class="rounded-full w-8 h-8" type="checkbox"/>
                    <b class="mx-1 font-normal">Use manual WR system</b>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">WR minimum:</b>
                    <input [disabled]="!bil_manualWR" [(ngModel)]="bil_wr_min" class="ILL_TextField w-full" type="text" placeholder="Minimum percentage for WR without % and > "/>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">World record:</b>
                    <input [disabled]="!bil_manualWR" [(ngModel)]="bil_wr" class="ILL_TextField w-full" type="text" placeholder="Current world record"/>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">World record video:</b>
                    <input [disabled]="!bil_manualWR" [(ngModel)]="bil_wr_yt" class="ILL_TextField w-full" type="text" placeholder="URL of the WR video (yt or discord)"/>
                </div>
    
    
                <b>Annotation & Marking:</b>
                <div class="flex flex-row items-center">
                    <div class="flex flex-row w-[50%] items-center bg-red-500 p-4 rounded-xl mx-1">
                        <input [(ngModel)]="bil_removal" class="rounded-full w-8 h-8" type="checkbox"/>
                        <b class="mx-1 text-sm font-semibold">Marked for removal:</b>
                    </div>
                    <div class="flex flex-row w-[50%] items-center bg-gray-500 p-4 rounded-xl mx-1">
                        <input [(ngModel)]="bil_annotation" class="rounded-full w-8 h-8" type="checkbox"/>
                        <b class="mx-1 text-sm font-semibold">Annotated for significance:</b>
                    </div>
                </div>
                <div class="flex flex-row items-center my-1">
                    <b class="mx-1 font-normal w-52">Marking reason:</b>
                    <input [(ngModel)]="bil_reason" class="ILL_TextField w-full" type="text" placeholder="Reason for marking for removal"/>
                </div>
            </div>
        </div>

        <b class="text-lg font-semibold text-red-600 text-center">{{lb_editStatus}}</b>

        <!-- Toolbar -->
        <div class="mx-5 rounded-full dark:bg-slate-700 overflow-hidden flex flex-row items-center justify-around p-0">
            <div (click)="submitLevel()" class="flex flex-row items-center justify-center select-none dark:text-white dark:bg-green-700 dark:hover:bg-green-600 p-2 w-full transition-all duration-200">
                <fa-icon [icon]="i_save" class="m-2  text-2xl"></fa-icon>
                <b>Save</b>
            </div>
            <div (click)="clearForm()" class="flex flex-row items-center justify-center select-none dark:text-white dark:bg-neutral-700 dark:hover:bg-neutral-600 p-2 w-full transition-all duration-200">
                <fa-icon [icon]="i_clear" class="m-2  text-2xl"></fa-icon>
                <b>Clear</b>
            </div>
            <div (click)="remapLevels()" class="flex flex-row items-center justify-center select-none dark:text-white dark:bg-orange-700 dark:hover:bg-orange-600 p-2 w-full transition-all duration-200">
                <fa-icon [icon]="i_remap" class="m-2  text-2xl"></fa-icon>
                <b>Remap</b>
            </div>
            <div (click)="removeLevel()" class="flex flex-row items-center justify-center select-none dark:text-white dark:bg-red-700 dark:hover:bg-red-600 p-2 w-full transition-all duration-200">
                <fa-icon [icon]="i_delete" class="m-2  text-2xl"></fa-icon>
                <b>Delete</b>
            </div>
        </div>

        
    </div>
    <div class="flex flex-col justify-between lg:w-[35%] w-screen h-full lg:m-5 m-2">
        <!-- Admin log -->
        <div class="bg-slate-300 dark:bg-slate-700 p-3 h-96 dark:text-white rounded-2xl">
            <b>Admin log</b>
            <div class="flex flex-col overflow-auto">
                <div class="border-l-4 rounded-xl border-slate-400 bg-slate-800 p-2 m-1" *ngFor="let log of auditLog">
                    <b class="font-normal"> > {{log}}</b>
                </div>
            </div>
        </div>

        
    </div>
</div>